{
  "use_week": "2020-10-05",
  "no_browser": 1,
  "clockify": {
    "api": {
      "comment": "Get API key from Clockify, Settings, Profile - API, API Key area (might need to Generate one)",
      "key": "{get_from_clockify_settings_profile_api_apikey}",
      "url": "https://api.clockify.me/api/v1"
    },
    "report": {
      "url": "https://reports.api.clockify.me/v1",
      "detail_uri": "/workspaces/{}/reports/detailed"
    }
  },
  "gte": {
    "settings": {
      "create_temp_file": 0
    },
    "credentials": {
      "user": "username",
      "password": "password"
    },
    "global": {
      "Type": "RC_Time Std",
      "Site": "Home",
      "Location": "Illinois - No Local - IL - USA"
    }
  }
}