{
  "use_week": "2020-10-12",
  "comment": "use_test_csv {empty_string} use API from clockify otherwise read in named local file",
  "use_test_csv": "test.csv",
  "comment1": "use_browser: null, or \"Chrome\" or \"Firefox\"",
  "use_browser": "Firefox",
  "clockify": {
    "api": {
      "comment": "Get API key from Clockify, Settings, Profile - API, API Key area (might need to Generate one)",
      "key": "{get_from_clockify_settings_profile_api_apikey}",
      "url": "https://api.clockify.me/api/v1"
    },
    "report": {
      "url": "https://reports.api.clockify.me/v1",
      "detail_uri": "/workspaces/{}/reports/detailed"
    }
  },
  "gte": {
    "settings": {
      "comment": "create_temp_file 0/1 used to see exported csv from clockify",
      "create_temp_file": 1,
      "debug": 0,
      "max_comment_length": 239
    },
    "credentials": {
      "comment": "user = your Cap 7+1 password...",
      "user": "username",
      "comment1": "password - if blank or not here, stop and ask you to enter it manually and continue on webpage",
      "comment2": "         - if you enter it here, we will autofill the password too",
      "password": ""
    },
    "global": {
      "Type": "RC_Time Std",
      "Site": "Home",
      "Location": "Illinois - No Local - IL - USA"
    }
  }
}