8/31
asicsT,comment1,30
asicsD,comment2,15
asicsNBT,comment3,45

9/1
int,emails and timesheets,30
clubs,clubs scrum and followups,30
bbwinapp,SIA Biz Requirements analytic,15
cush,jeremy and powerreviews,30
sales,dart email templates,15
citta,bronto can ticket cts537,150
dartpdp,review cybersource estimates,30     
sales,uniform advantage addl reqs,30
dartpdp,cybersource call,30
clubs,debugging and tshooting,150

9/2
bbwinapp,sso session meeting and followup,60
clubs,scrum and followups,150
sales,kontoor oobo,60
cush,footjoy 1947 feedback,30
clubs,making tickets,120
int,emails and timesheets,60

9/3
clubs,internal scrum,30
cush,internal scrum,30
int,review TL meeting,30 
cush,powerreviews ticket and followups,60
cush,status call,60
dartpdp,internal meet with ba prep multiship,60
dartpdp,internal meet with ba prep multiship,75
clubs,status call,45
int,one on one with pankaj,30
int,email and timesheets,60

9/4
clubs,scrum,30
clubs,env planning followup,30
int,emails and timesheets,60
citta,yotpo research,150
int,gte timesheets,60
train,mulesoft developer,120
clubs,review new catalog and ticket,60
